@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  background-image: linear-gradient(to right, #01ff64, #03ea5a, #03d64f, #02c246, #00ae3c);
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.hours-real{
  font-size: 2.7rem;
  padding: 5px 3px;
  color: #fff;
  z-index: 9999;
}


footer{
  padding: 15px 9px;
}


footer p{
  color: #000;
  font-size: 1.4rem;
}

footer p a{
  text-decoration: none;
  color: #000;
}


footer i{
  color: red;
}

.card-container{
  background-color: #161617;
  width: 502px;
  height:160px;
  text-align: center;
  border-radius: 8px;
}

.card-style {
  background-color: #272928;
  width: 421px;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6%;
  border-radius: 10px;
}
